.buttonContainer {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  row-gap: 20px;
  column-gap: 15px;
}
.homeButton {
  color: white;
  padding: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 20px;
  line-height: 1.2;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}
.homeButton .textContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.homeButton .iconContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.button0 {
  background: linear-gradient(-45deg, #9900ff, #8038ff);
  border-radius: 20px;
  grid-column: span 10;
  grid-row: span 10;
}
.button1 {
  background: linear-gradient(-45deg, #f931a4, #f830a3);
  border-radius: 20px;
  grid-column: span 7;
  grid-row: span 10;
}
.button2 {
  background: linear-gradient(-45deg, #fd9524, #feb748);
  border-radius: 20px;
  grid-column: span 7;
  grid-row: span 8;
  padding: 20px;
}
.button3 {
  background: linear-gradient(-45deg, #1a82cc, #23c2bb);
  border-radius: 20px;
  grid-column: span 10;
  grid-row: span 8;
  padding: 20px;
}
