.signButton {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #9681eb;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08);
  font-weight: 500;
}

.signButton:hover,
.signButton:active {
  opacity: 0.8;
}

.signButton:focus {
  outline: none;
}

.signButton:disabled,
.signButton:focus:disabled,
.signButton:hover:disabled,
.signButton:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
