.firstSection {
  background-color: var(--main-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #f9f9f9;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.icon {
  width: 100%;
}
