.headerBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.titleBox {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.blank {
  width: 24px;
  height: 24px;
}
