.startTitle {
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  /* color: #121212; */
  color: #606060;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}
.headerButton {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  width: fit-content;
  font-size: 1rem;
  font-weight: 700;
  color: #121212;
  background: transparent;
  border: none;
  padding: 0px;
  gap: 5px;
}
.startMessage {
  display: flex;
  align-items: center;
}
.firstText {
  margin-top: 20px;
  color: #606060;
  font-size: 0.9rem;
}
.secondText {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
