.container {
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.iconContainer img {
  width: 30%;
  max-width: 100px;
}

@media (min-width: 480px) {
  .container {
    margin-top: 10vh;
  }
}
