.container {
  width: calc(50% - 7.5px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  border-radius: 8px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.titleBox p {
  font-weight: 700;
  line-height: 1.4;
}
.titleBox strong {
  font-size: 1.2rem;
}
.iconBox {
  display: flex;
  justify-content: center;
}
.iconBox img {
  width: 70%;
}
