.homeCard {
  width: 100%;
  height: 110px;
  background: #ffffff;
  /* background: linear-gradient(-45deg, #5f3084, #3f3084); */
  /* background: #5f3084; */
  display: flex;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08);
}
.textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}
.title {
  color: #121212;
  opacity: 0.5;
  /* color: #ccc; */
  font-size: 1.2rem;
  font-weight: 700;
}
.description {
  color: #121212;
  /* color: #fbfbfb; */
  font-size: 1.2rem;
  font-weight: 700;
}
.icon {
  height: 100%;
}
