.formContainer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 480px;
}

.formContainer h1 {
  color: #000;
  text-align: center;
  /* text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25); */
  font-size: 32px;
  font-weight: 700;
  /* margin-top: 20vh; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.helperContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.helperContainer a {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  opacity: 0.5;
}

.helperContainer a:hover {
  font-weight: 500;
  text-decoration: underline;
}

.linkContainer {
  width: 100%;
}

.error-message__container {
  width: 100%;
  padding-left: 1rem;
  /* margin-top: -10px; */
  margin-bottom: 10px;
}

.error-message {
  font-size: 0.9rem;
  color: red;
  opacity: 0.9;
}
